*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, violet, wheat);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clock{
    width: 550px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clock div{
    background-color: white;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: black;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    letter-spacing: 3px;
    position: relative;
}

#period{
    margin-left: 20px;
}


.clock span{
    font-weight: bolder;
    font-size: 60px;
    color: white;
}
