*{
    margin: 0;
    padding: 0;
    background-color: rgb(67, 207, 207);
}

.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 6rem;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
}
